<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.map.main.dao.MainDAO">
	<select id="selectExcelDownloadModel" resultType="com.map.main.model.ExcelDownloadModel">
		select a.loginId, a.name, b.storeName, c.address, d.createdAt
		from user a join store b
		on a.id = b.userId
		join ordered_list c
		on b.id = c.storeId
		join ordered_list_detail d
		on c.id = d.orderId
		where a.id = 1
		order by a.loginId, b.storeName, c.address;
		
		<!-- select a.loginId, a.name, b.storeName, c.address, count(d.orderId)
from user a join store b
on a.id = b.userId
join ordered_list c
on b.id = c.storeId
join ordered_list_detail d
on c.id = d.orderId
where a.id = 1
group by d.orderId; -->
	</select>
</mapper>